<!-- Wrapper -->
<div id="wrapper">
    <header id="header" {% if page.layout==
    "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
    <a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong>
    <span>{{ site.subtitle }}</span></a>
    <div>
        <ul class="actions">
            <li><a href="#farmacia" class="button scrolly">Farmacia</a></li>
            <li><a href="#profilo" class="button scrolly">Profilo</a></li>
            <li><a href="#report" class="button scrolly">Report</a></li>
            <li><a href="#sintomi" class="button scrolly">Sintomi</a></li>
        </ul>
    </div>
    </header>
</div>