<section id="tile" class="tiles">
    {% for feature in site.functions %}
    <article id="{{ feature.ref }}" style="width: 100%" class="12u(xxsmall)">
    <span class="image">
       <img src="{{ feature.image }}" alt=""/>
    </span>
        <header>
            <h3>{{ feature.title }}</h3>
            <p>{{ feature.description }}</p>
            <details>
                <summary>Dimmi di più</summary>
                <p> {{ feature.content }}</p>
            </details>
        </header>
    </article>
    {% endfor %}
</section>
